.stepIndicator::after {
  content: '';
  width: 32px;
  height: 1px;
  background-color: gray;
  position: absolute;
  right: -32px;
} 

.stepContainer:last-child::after {
  width: 0px;
  height: 0px;
  content: '';
}